# JetBrains
.idea
# Mysql Enviroment
/docker/db/.env
# Mysql Data
/docker/db/data
#fresh compile
api_v1/tmp
# Nuxt.js .gitignore
/docker/front/.git
# redis
/docker/redis/data
# ssl
ssl
# .DS
.DS_Store
# static server
api_v1/assets
